<div>
  <h2 id="page-heading" data-cy="ProgressLogHeading">
    <span jhiTranslate="fypApp.progressLog.home.title">Progress Logs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="fypApp.progressLog.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-progress-log"
        [routerLink]="['/progress-log/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="fypApp.progressLog.home.createLabel">Create a new Progress Log</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (progressLogs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="fypApp.progressLog.home.notFound">No Progress Logs found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="logDate">
              <div class="d-flex">
                <span jhiTranslate="fypApp.progressLog.logDate">Log Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="weightKg">
              <div class="d-flex">
                <span jhiTranslate="fypApp.progressLog.weightKg">Weight Kg</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="completedWorkout">
              <div class="d-flex">
                <span jhiTranslate="fypApp.progressLog.completedWorkout">Completed Workout</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="caloriesIntake">
              <div class="d-flex">
                <span jhiTranslate="fypApp.progressLog.caloriesIntake">Calories Intake</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="steps">
              <div class="d-flex">
                <span jhiTranslate="fypApp.progressLog.steps">Steps</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notes">
              <div class="d-flex">
                <span jhiTranslate="fypApp.progressLog.notes">Notes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="fypApp.progressLog.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="profile.id">
              <div class="d-flex">
                <span jhiTranslate="fypApp.progressLog.profile">Profile</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="plan.id">
              <div class="d-flex">
                <span jhiTranslate="fypApp.progressLog.plan">Plan</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (progressLog of progressLogs(); track trackId(progressLog)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/progress-log', progressLog.id, 'view']">{{ progressLog.id }}</a>
              </td>
              <td>{{ progressLog.logDate | formatMediumDate }}</td>
              <td>{{ progressLog.weightKg }}</td>
              <td>{{ progressLog.completedWorkout }}</td>
              <td>{{ progressLog.caloriesIntake }}</td>
              <td>{{ progressLog.steps }}</td>
              <td>{{ progressLog.notes }}</td>
              <td>{{ progressLog.createdAt | formatMediumDatetime }}</td>
              <td>
                @if (progressLog.profile) {
                  <div>
                    <a [routerLink]="['/user-profile', progressLog.profile.id, 'view']">{{ progressLog.profile.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (progressLog.plan) {
                  <div>
                    <a [routerLink]="['/plan', progressLog.plan.id, 'view']">{{ progressLog.plan.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/progress-log', progressLog.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/progress-log', progressLog.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(progressLog)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (progressLogs().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
