<div>
  <h2 id="page-heading" data-cy="PlanHeading">
    <span jhiTranslate="fypApp.plan.home.title">Plans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="fypApp.plan.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plan"
        [routerLink]="['/plan/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="fypApp.plan.home.createLabel">Create a new Plan</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (plans().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="fypApp.plan.home.notFound">No Plans found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="caloriesKcal">
              <div class="d-flex">
                <span jhiTranslate="fypApp.plan.caloriesKcal">Calories Kcal</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="proteinG">
              <div class="d-flex">
                <span jhiTranslate="fypApp.plan.proteinG">Protein G</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="carbsG">
              <div class="d-flex">
                <span jhiTranslate="fypApp.plan.carbsG">Carbs G</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fatG">
              <div class="d-flex">
                <span jhiTranslate="fypApp.plan.fatG">Fat G</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="workoutType">
              <div class="d-flex">
                <span jhiTranslate="fypApp.plan.workoutType">Workout Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="workoutIntensity">
              <div class="d-flex">
                <span jhiTranslate="fypApp.plan.workoutIntensity">Workout Intensity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="source">
              <div class="d-flex">
                <span jhiTranslate="fypApp.plan.source">Source</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="fypApp.plan.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mealPlanJson">
              <div class="d-flex">
                <span jhiTranslate="fypApp.plan.mealPlanJson">Meal Plan Json</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="workoutPlanJson">
              <div class="d-flex">
                <span jhiTranslate="fypApp.plan.workoutPlanJson">Workout Plan Json</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="weekStartDate">
              <div class="d-flex">
                <span jhiTranslate="fypApp.plan.weekStartDate">Week Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="profile.id">
              <div class="d-flex">
                <span jhiTranslate="fypApp.plan.profile">Profile</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (plan of plans(); track trackId(plan)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/plan', plan.id, 'view']">{{ plan.id }}</a>
              </td>
              <td>{{ plan.caloriesKcal }}</td>
              <td>{{ plan.proteinG }}</td>
              <td>{{ plan.carbsG }}</td>
              <td>{{ plan.fatG }}</td>
              <td [jhiTranslate]="'fypApp.WorkoutType.' + (plan.workoutType ?? 'null')">
                {{ { null: '', FBW: 'FBW', PPL: 'PPL', UPPER_LOWER: 'UPPER_LOWER', CARDIO_MIX: 'CARDIO_MIX' }[plan.workoutType ?? 'null'] }}
              </td>
              <td>{{ plan.workoutIntensity }}</td>
              <td>{{ plan.source }}</td>
              <td>{{ plan.createdAt | formatMediumDatetime }}</td>
              <td>{{ plan.mealPlanJson }}</td>
              <td>{{ plan.workoutPlanJson }}</td>
              <td>{{ plan.weekStartDate | formatMediumDate }}</td>
              <td>
                @if (plan.profile) {
                  <div>
                    <a [routerLink]="['/user-profile', plan.profile.id, 'view']">{{ plan.profile.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/plan', plan.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/plan', plan.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(plan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (plans().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
